aiofiles==23.1.0
alembic==1.11.1
amqp==5.1.1
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.0.8
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
attrs==22.2.0
autopage==0.5.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.0.0
boto3==1.26.142
botocore==1.29.142
Brotli==1.0.9
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
cliff==4.3.0
cmake==3.26.3
cmd2==2.4.3
contourpy==1.0.7
cryptography==40.0.2
cycler==0.10.0
dacite==1.7.0
debtcollector==2.5.0
debugpy @ file:///work/ci_py311/debugpy_1676824903649/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
dnspython==2.3.0
dogpile.cache==1.2.0
eventlet==0.33.3
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fasteners==0.18
fastjsonschema==2.16.3
fiftyone==0.20.1
fiftyone-brain==0.11.0
fiftyone-db==0.4.0
filelock==3.12.0
fixtures==4.0.1
fonttools==4.39.3
fqdn==1.5.1
ftfy==6.1.1
future==0.18.3
futurist==2.4.1
gitdb==4.0.10
GitPython==3.1.31
glob2==0.7
graphql-core==3.2.3
greenlet==2.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.2
httplib2==0.22.0
httpx==0.24.1
hypercorn==0.14.3
hyperframe==6.0.1
idna==2.10
imageio==2.30.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1681101609140/work
importlib-resources==5.12.0
imutils==0.5.4
inflate64==0.3.1
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1655369107642/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
ipython-genutils==0.2.0
iso8601==1.1.0
isoduration==20.11.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonlines==3.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1679365123476/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1678994187655/work
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kaleido==0.2.1
keystoneauth1==5.2.0
keystonemiddleware==10.3.0
kiwisolver==1.4.4
kombu==5.2.4
lazy_loader==0.2
lit==16.0.2
logutils==0.3.5
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mistune==2.0.5
mongoengine==0.24.2
motor==3.1.2
mpmath==1.3.0
msgpack==1.0.5
multivolumefile==0.2.3
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
ncclient==0.6.13
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
netaddr==0.8.0
netifaces==0.11.0
networkx==3.1
neutron==22.0.0
neutron-lib==3.6.0
notebook==6.5.4
notebook_shim==0.2.2
numpy @ file:///croot/numpy_and_numpy_base_1682520569166/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
openstacksdk==1.1.0
os-client-config==2.1.0
os-ken==2.6.0
os-resource-classes==1.1.0
os-service-types==1.7.0
os-traits==3.0.0
os-vif==3.1.1
osc-lib==2.8.0
oslo.cache==3.4.0
oslo.concurrency==5.1.1
oslo.config==9.1.1
oslo.context==5.1.1
oslo.db==13.0.0
oslo.i18n==6.0.0
oslo.log==5.2.0
oslo.messaging==14.3.0
oslo.metrics==0.6.0
oslo.middleware==5.1.1
oslo.policy==4.2.0
oslo.privsep==3.1.0
oslo.reports==3.0.0
oslo.rootwrap==7.0.1
oslo.serialization==5.1.1
oslo.service==3.1.1
oslo.upgradecheck==2.1.1
oslo.utils==6.1.0
oslo.versionedobjects==3.1.0
osprofiler==3.4.3
ovs==2.17.1.post1
ovsdbapp==2.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==2.0.0
pandocfilters==1.5.0
paramiko==3.1.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
Paste==3.5.3
PasteDeploy==3.0.1
pbr==5.11.1
pecan==1.4.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1679871349196/work
plotly==5.14.1
pprintpp==0.4.0
prettytable==3.7.0
priority==2.0.0
prometheus-client==0.16.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py7zr==0.20.5
pybcj==1.0.1
pycadf==3.1.1
pycparser==2.21
pycryptodomex==3.18.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681142969746/work
pyinotify==0.9.6
pymongo==4.3.3
PyNaCl==1.5.0
pyOpenSSL==23.1.1
pyparsing==2.4.7
pyperclip==1.8.2
pyppmd==1.0.0
pyroute2==0.7.8
pyrsistent==0.19.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-designateclient==5.2.0
python-dotenv==1.0.0
python-json-logger==2.0.7
python-keystoneclient==5.1.0
python-neutronclient==10.0.0
python-novaclient==18.3.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq @ file:///croot/pyzmq_1682697643292/work
pyzstd==0.15.7
rarfile==4.0
regex==2023.5.5
repoze.lru==0.7
requests==2.29.0
requests-toolbelt==1.0.0
requestsexceptions==1.4.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
roboflow==1.0.9
Routes==2.5.1
s3transfer==0.6.1
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.0
sentry-sdk==1.23.1
setproctitle==1.3.2
simplejson==3.19.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==2.0.15
sse-starlette==0.10.3
sseclient-py==1.7.2
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.20.4
statsd==4.0.1
stevedore==5.1.0
strawberry-graphql==0.138.1
sweetviz==2.1.4
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
terminado==0.17.1
testresources==2.0.1
testscenarios==0.5.0
testtools==2.6.0
texttable==1.6.7
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
toml==0.10.2
tooz==4.0.0
torch==2.0.0
torchvision==0.15.1
tornado @ file:///work/ci_py311/tornado_1676823418767/work
tqdm==4.64.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
triton==2.0.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata==2023.3
tzlocal==5.0.1
ultralytics==8.0.106
universal-analytics-python3==1.1.1
uri-template==1.2.0
urllib3==1.26.15
vine==5.0.0
voluptuous==0.13.1
voxel51-eta==0.9.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.1
wget==3.2
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0
yappi==1.4.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
