QPushButton {
    border: 1px solid white;
    background-color: white;
    color: #ffffff;
    padding: 5px 10px;
}
  
QPushButton:target {
    border: 1px solid white;
    background-color: white;
    color: #ffffff;
    padding: 5px 10px;
}