QPushButton {
    background-color: grey; /* Green */
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
}
  
QPushButton:hover {
    background-color: darkgray;
}

QPushButton:disabled {
    background-color: darkgray;
    border: none;
}